.search-form {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  
  button {
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear; 
    background-color: #f5f5f5;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
  
    &:focus, &:hover {
      outline: none;
      box-shadow: 0 0 0 2px white;
      border-radius: 4px;
    }
  }
  
  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  
  .load-more.is-hidden {
    display: none;
  }